<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Пример веб-страницы</title>
 </head>
 <body>
<form action="/api2" method="post">
    <button name="forwardBtn" type="submit">POST запрос для api2</button>
</form>

<form action="/api2" method="get">
    <button name="forwardBtn" type="submit">GET запрос для api2</button>
</form>

<form action="/api1" method="post">
    <button name="forwardBtn" type="submit">POST запрос для api1</button>
</form>

<form action="/api1" method="get">
    <button name="forwardBtn" type="submit">GET запрос для api1</button>
</form>

</body>
</html>